a#backToTop {
    position: fixed;
    display: none;
    width: 15px;
    height: 35px;
    background: url(../images/back-to-top-btn.png);
    background-position: 0 0;
}

a#backToTop:hover {
    background-position: 0 35px;
}
